.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 32px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chat-result {
  height: 300px;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f8f8f8;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.text-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #070000;
  border-radius: 5px;
  outline: none;
  margin: 0 10px 0 0;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0069d9;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
